 
.nav{
 display: flex; 
justify-content: space-between;
 width: 93%; 
 margin:auto;
 align-items: center; 
 margin-right: 20px; 
 margin-top: 10px;
 
}  

.nav img{
  width:206px;
  height :101.76px;
}

.nav-title{
  display: flex;  

}   


.nav-title p{
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px; 
  color: #252B42; 
  font-weight: 600; 
  min-width: 155px; 
  text-align: center;
}  

 #home-title{
   color:#FA4A0C;
 }